/*
Theme Name: BB4 Child 
Theme URI: http://rundiz.com
Template: bootstrap-basic4
Author: Vee Winch, christianoliff
Description: Bootstrap v.4 basic theme for developers to build their new theme very fast and easy. (WordPress 5 or Gutenberg ready.) The concept is to keep it basic, no rich features, no additional functions; all of these for theme developers will be easier to start develop their theme. To follow what was changed, please look for commits of this theme at Github or changelog.md file that come with the theme. Please read notice on Bootstrap Basic 4 Help page in Dashboard &gt; Appearance &gt; Bootstrap Basic4 Help or in readme.txt file in this theme package.
Tags: one-column,two-columns,three-columns,left-sidebar,right-sidebar,custom-background,custom-menu,featured-images,post-formats,threaded-comments,translation-ready,editor-style,blog
*/
.site-footer {
    margin: 0;
    color: rgba(0,0,0,.5);
}
.row {
    margin-right: 0;
    margin-left: 0;
}
#main .post, #main .page {
    border: none;
}
.page-header {
    margin-left: 0;
    margin-right: 0;
}
.page-content form .input-group {
    padding: 0 15px;
}
.pagination-nav-container {
    clear: both;
}
.page-header-top-right{
   	background-color: #f8f9fa !important;
}
@media screen and (max-width: 575px) {
.nav-m {
    display: none;
}
}
@media screen and (min-width: 576px) {
.nav-o {
    display: none;
}
}
a:hover {
    color: #C9478D;
    text-decoration: none;
}
a {
    color: #777;
    text-decoration: none;
}
a:not(.btn) {
    text-decoration: none;
}
body {
    color: #777;
}
.page-item.active .page-link {
    background-color: #C9478D;
    border-color: #C9478D;
}
p {
    padding: 1rem;
}
.wp-block-quote {
    padding: 0;
    margin: 0 1rem;
    border-left: 4px solid #C9478D;
    background: #f4f4f4;
}
.entry-title {
    color: #C9478D;
}
.btn-outline-secondary:hover {
    background-color: #C9478D;
    border-color: #C9478D;
}
.sr {
    color: #C9478D;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #C9478D;
    text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
	color: rgba(255,255,255,.7);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #C9478D;
}
.list-group-item {
    padding: .25rem 1rem;
}
.d-flex.bd-highlight {
    margin-top: -6px;
    background: #e9e9e9;
}
.p-2 {
    padding: 1rem!important;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
footer.entry-meta {
    margin: 1rem .2rem;
}
.wpulike {
    margin: -23px 0;
}
button.btn.btn-lg.mt-3.mb-3 {
    background: #C9478D;
    color: #fff;
}
button.btn.btn-lg.mt-3.mb-3:hover {
    box-shadow: .2rem .2rem 0rem #ddd !important;
}
form#stream {
    text-align: center;
    background: #212121;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0;
    padding-left: 0;
}
.entry-meta-category-tag span a {
    line-height: 32px;
    display: inline-block;
    padding: 0 18px;
    white-space: nowrap;
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), to(#eee));
    background-image: -webkit-linear-gradient(bottom, #d5d5d5 0%, #eee 100%);
    background-image: linear-gradient(to top, #d5d5d5 0%, #eee 100%);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 0 0 #c1c1c1;
    box-shadow: 0 2px 0 0 #c1c1c1;
    margin-bottom: 8px;
    color: #000;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    text-decoration: none;
}
.entry-meta-category-tag span a:hover {
    color: #fff;
    background-color: #acacac;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#afafaf), color-stop(0%, #a1a1a1), to(#bbb));
    background-image: -webkit-linear-gradient(bottom, #afafaf 0%, #a1a1a1 0%, #bbb 100%);
    background-image: linear-gradient(to top, #afafaf 0%, #a1a1a1 0%, #bbb 100%);
    -webkit-box-shadow: 0 2px 0 0 #7a7a7a;
    box-shadow: 0 2px 0 0 #7a7a7a;
}
li a.page-link.page-numbers {
    text-decoration: none;
    color: #555;
}
li a.page-link.page-numbers:hover {
    background: #C9478D;
    border: 1px solid #C9478D;
    color: #fff;
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.row-with-vspace {
    margin-bottom: 20px;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.entry .title {
    line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: .5rem 0 0 0;
    text-transform: uppercase;
}
.entry .title a {
    font-weight: bold;
}
.wpulike-robeen .count-box {
    padding: 14px 14px;
}
.card {
    display: inline-flex;
}
.card-body {
    padding: .5rem;
}
.card-header {
    padding: .1rem .5rem;
}
.rounded {
    border-radius: 0!important;
}
.card {
	border: none;
    border-top: .25rem solid rgba(0,0,0,.125);
}
.card-header {
    border-bottom: none;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: block;
}
ul.tags-grid-view-big {
    list-style: none;
    padding: 0px;
    margin: 18px 0px 0px;
}
li.categories-grid-item {
    text-align: center;
    background: #343a40;
    line-height: 60px;
    position: relative;
}
ul.tags-grid-view-big li {
    float: left;
    width: calc(100% / 4 - 20px);
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
}
li.categories-grid-item::before {
    content: "";
    position: absolute;
    left: -7px;
    top: calc(50% - 7px);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    background: #ffffff;
}
li.categories-grid-item:hover {
    background: #fe3636;
    background: -webkit-linear-gradient(0deg, #fe3636 0%,#ec4578 100%);
    background: linear-gradient(90deg, #fe3636 0%,#ec4578 100%);
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
li.categories-grid-item a {
    color: #fff;
}
